/* =========================
   RESET
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* =========================
   BACKGROUND
========================= */
/* DEFAULT BACKGROUND */
body {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* OVERLAY (makes text readable) */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 1;
    pointer-events: none;   /* ⭐ FIX */
}

/* Keep card above overlay */
.weather-card {
    background: rgba(255,255,255,0.18);
    backdrop-filter: blur(18px);
    border-radius: 20px;
    padding: 40px;
    width: 360px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.4);
    position: relative;
    z-index: 1;
}


/* =========================
   TEXT
========================= */
.city {
    font-size: 30px;
    margin-bottom: 10px;
}

.temperature {
    font-size: 60px;
    font-weight: bold;
}

.status {
    font-size: 20px;
    opacity: 0.9;
    margin-bottom: 15px;
}

.details p {
    margin: 8px 0;
    font-size: 17px;
}

/* =========================
   FORM
========================= */
input {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: white;
    color: #0077ff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    transform: translateY(-2px);
    background: #f1f1f1;
}

/* =========================
   BACKGROUNDS
========================= */

body.default {
    background-image: url("/static/images/weather-bg.jpg");
}

body.clear {
    background-image: url("/static/images/clear.jpg");
}

body.clouds {
    background-image: url("/static/images/clouds.jpg");
}

body.rain {
    background-image: url("/static/images/rain.jpg");
}

body.night {
    background-image: url("/static/images/night.jpg");
}